$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

//variables
$red: #c0392b;
$blue: #2980b9;
$green: #27ae60;
$orange: #e67e22;
$sans: 'Open Sans', sans-serif;

.red {
  color: $red;
}

.blue {
  color: $blue;
}

.green {
  color: $green;
}

.orange {
  color: $orange;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: $sans;
}

.mainform {
  float: none;
  margin: 0 auto;
}

label {
  font-weight: 400;
}

#textOutput {
  font-size: 6rem;
  font-weight: 800;
  padding-bottom: 2rem;
}

.buttons {
  padding-top: 2rem;
}

#redButton {
  @include button-variant(white, $red, $red);
}

#blueButton {
  @include button-variant(white, $blue, $blue);
}

#greenButton {
  @include button-variant(white, $green, $green);
}

#orangeButton {
  @include button-variant(white, $orange, $orange);
}
